<footer class="footer-section">
  <article class="container">
    <article class="row justify-content-end">
      <article class="col-lg-4 col-md-12 contact-wrpper">
        <h3 class="title">Get in touch</h3>
        <article class="contact-info">
          <article class="contact-detail">
            <p class="text">loremipsumpk@gmail.com</p>
            <img
              src="../assets/images/icons/email.png"
              alt="Email Icon"
              class="icon"
            />
          </article>
          <article class="contact-detail">
            <p class="text">
              Floor 3, One Expressway, Gulberg Greens, Islamabad
            </p>
            <img
              src="../assets/images/icons/location.png"
              alt="Location Icon"
              class="icon"
            />
          </article>
        </article>
      </article>
      <article class="col-lg-4 col-md-12 social-sites">
        <h3 class="title">Follow us</h3>

        <ul class="social-icons-wrapper">
          <li class="social-icon">
            <a href="#" class="social-icon-link">
              <img
                src="../../../assets/images/socail-icons/facebook.png"
                alt="facebook"
                class="icon"
              />
            </a>
          </li>
          <li class="social-icon">
            <a href="#" class="social-icon-link">
              <img
                src="../../../assets/images/socail-icons/instagram.png"
                alt="instagram"
                class="icon"
              />
            </a>
          </li>
          <li class="social-icon">
            <a href="#" class="social-icon-link">
              <img
                src="../../../assets/images/socail-icons/twitter.png"
                alt="twitter"
                class="icon"
              />
            </a>
          </li>
          <li class="social-icon">
            <a href="#" class="social-icon-link">
              <img
                src="../../../assets/images/socail-icons/youtube.png"
                alt="youtube"
                class="icon"
              />
            </a>
          </li>
        </ul>
      </article>

      <article class="col-md-12 footer-belt">
        <ul class="footer-links-wrapper">
          <li class="footer-item">
            <a href="#" class="footer-item-link">Contact</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item-link">Disclamier</a>
          </li>
          <li class="footer-item">
            <a href="#" class="footer-item-link">Privacy Policy</a>
          </li>
        </ul>

        <p class="copyright-text">
          &copy; 2020 Lorem Ipsum, Pvt. Ltd. All rights reserved
        </p>
      </article>
    </article>
  </article>
</footer>
