<section class="banner-wrapper">
  <app-navbar></app-navbar>

  <section class="container banner">
    <article class="row align-items-center">
      <article class="col-lg-6 col-md-12 banner-details">
        <h1 class="title">Lorem ipsum dolor sit amet consectetur</h1>
        <h2 class="heading">Lorem</h2>
        <p class="description">
          Lorem ipsum dolor sit amet,<br />
          consectetur adipiscing elit, sed do eiusmod.
        </p>
        <button class="franchise-btn">
          <p class="btn-text">See the best franchises</p>
          <img
            src="../assets/images/icons/left-arrow.png"
            alt="left arrow"
            class="btn-icon"
          />
        </button>
      </article>

      <article class="col-lg-6 col-md-12 banner-image-wrapper">
        <img
          src="../assets/images/banner-image.png"
          alt="Banner Image"
          class="banner-image"
        />
      </article>
    </article>
  </section>
</section>

<section class="points-wrapper">
  <h1 class="title">Lorem Ipsum Dolor</h1>
  <article class="points-container">
    <article class="point" *ngFor="let point of points">
      <img
        src="../assets/images/icons/check.png"
        alt="Check Icon"
        class="icon"
      />
      <p class="text">{{ point }}</p>
    </article>
  </article>
</section>

<section class="container-fluid malls-details">
  <h1 class="title">
    Lorem ipsum dolor sit amet <br />
    adipiscing elit. Donec odio. Quisque volutpat mattis
  </h1>

  <p class="description">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
    Quisque volutpat mattis eros. Nullam malesuada erat ut. <br />
    Suspendisse urna nibh, viverra non, semper suscipit
  </p>

  <article class="malls-container">
    <app-card
      *ngFor="let mall of malls"
      image="{{ mall.image }}"
      heading="{{ mall.heading }}"
    ></app-card>
  </article>
</section>

<section class="container-fluid live-sessions-wrapper">
  <article class="container">
    <article class="row">
      <article class="col-lg-6 col-md-12 live-sessions-details">
        <h2 class="heading">Lorem</h2>
        <h1 class="title">Lorem ipsum.</h1>

        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer
          enim neque volutpat ac tincidunt vitae semper. Ullamcorper eget nulla
          facilisi etiam dignissim diam quis enim. Enim eu turpis egestas
          pretium aenean pharetra magna ac. Enim nunc faucibus a pellentesque
          sit amet porttitor eget dolor. <br />
          <br />

          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien
          eget mi proin sed libero enim. Etiam sit amet nisl purus in mollis
          nunc sed id. Placerat in egestas erat imperdiet. Etiam tempor orci eu
          lobortis elementum nibh tellus molestie nunc. Felis eget velit aliquet
          sagittis id consectetur.
        </p>

        <a href="#" class="read-more-button">Read More...</a>
      </article>
    </article>
  </article>

  <article class="session-images">
    <img
      src="../assets/images/google-img.png"
      alt="Google Image"
      class="google-image"
    />

    <img
      src="../assets/images/videocall.png"
      alt="Video Call"
      class="google-image"
    />
  </article>
</section>

<section class="container what-we-do">
  <h1 class="title">Lorem ipsum dolor sit amet</h1>
  <article class="what-we-do-wrapper">
    <app-card
      *ngFor="let feature of features"
      image="{{ feature.image }}"
      heading="{{ feature.heading }}"
      description="{{ feature.description }}"
    ></app-card>
  </article>
</section>

<section class="site-steps">
  <h1 class="title">Lorem Ipsum Dolor Sit</h1>

  <article class="steps-wrapper">
    <figure class="details-card" *ngFor="let step of steps">
      <article class="card-info">
        <figcaption>
          <h3 class="heading">{{ step.heading }}</h3>
          <h1 class="card-title">{{ step.title }}</h1>
          <p class="description">
            {{ step.description }}
          </p>
        </figcaption>

        <picture class="card-icon-wrapper">
          <img src="{{ step.icon }}" alt="{{ step.title }}" class="icon" />
        </picture>
      </article>

      <article class="dropdown-icon-wrapper">
        <img
          src="../assets/images/icons/down-arrrow.png"
          alt="dropdown icon"
          class="dropdown-icon"
        />
      </article>
    </figure>
  </article>

  <article class="notification">
    <h1 class="heading">Lorem ipsum dolor sit...</h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt placeat
      reprehenderit vitae repellendus ratione alias.
    </p>
  </article>
</section>

<section class="macdonals">
  <article class="container">
    <article class="row">
      <article class="col-lg-6 col-md-12">
        <h1 class="title">
          Lorem Ipsum Dolor Sit Amet <br /><span>LOREM IPSUM</span>
        </h1>

        <p class="description">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
          Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
          Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
          <br />
          <br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
          Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
          Suspendisse urna nibh, viverra.
        </p>

        <button class="call-btn">Schedule a call today!</button>
      </article>
    </article>
  </article>
</section>

<section class="container-fluid testimonails">
  <article class="section-header">
    <h1 class="title">Success Stories</h1>
    <p class="description">Ez-Franchise Client Testimonials</p>
  </article>

  <article class="testimonials-container">
    <figure
      class="testimonial-card"
      *ngFor="let testimonial of testimonials"
      [style.backgroundColor]="testimonial.bgColor"
    >
      <img
        src="../assets/images/icons/quotes.png"
        alt="Quotes Icon"
        class="quote-icon"
      />

      <p class="description">
        {{ testimonial.quote }}
      </p>

      <article class="user-profile">
        <img
          src="{{ testimonial.userImage }}"
          alt="{{ testimonial.name }}"
          class="user-profile-image"
        />

        <picture class="icon-wrapper">
          <img
            src="../assets/images/icons/left-arrow.png"
            alt="video-icon"
            class="video-icon"
          />
        </picture>
      </article>

      <h2 class="name">{{ testimonial.name }}</h2>
      <p class="designation">{{ testimonial.designation }}</p>
    </figure>
  </article>
</section>

<section class="certified-wrapper">
  <article class="certficate-details">
    <h1 class="title">Lorem Ipsum Dolor Sit Amet</h1>
    <img
      src="../assets/images/certficate.png"
      alt="certficate logo"
      class="certificate-logo"
    />

    <p class="description">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
      Quisque volutpat mattis eros. Nullam malesuada erat ut turpis Suspendisse
      urna nibh. <br /><br />
      Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
      sit amet orci. Aenean <br />
      dignissim pellentesque felis.
    </p>

    <h3 class="sub-heading">
      Morbi in sem quis dui placerat ornare pellentesque
    </h3>

    <button class="call-btn">Schedule a call today!</button>
  </article>
</section>

<section class="container contact-details">
  <article class="row align-items-center">
    <article class="col-lg-6 col-md-12">
      <img
        src="../assets/images/contact-image.png"
        alt="contact image"
        class="contact-image"
      />
    </article>
    <article class="col-lg-6 col-md-12 contact-info">
      <h3 class="sub-heading">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      </h3>

      <h1 class="title">
        Lorem ipsum <br />
        dolor sit amet, consectetuer!
      </h1>

      <button class="call-btn">Schedule a call today!</button>
    </article>
  </article>
</section>

<app-footer></app-footer>
